{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV-GPT Signup Form</title>
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
</head>
<body>
    <section class="container forms">
        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form id="signup-form" method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="field button-field">
                        <button type="submit">Signup</button>
                    </div>
                </form>
                <div class="form-link">
                    <span>Already have an account? <a href="{% url 'login' %}" class="link login-link">Login</a></span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
